@import "./markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/inter-var-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  :root {
    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";

    --color-white: 1 0 0; /* #ffffff */
    --color-black: 0 0 0; /* #000000 */

    --background: 1 0 0; /* oklch(1 0 0) */
    --foreground: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --card: 1 0 0; /* oklch(1 0 0) */
    --card-foreground: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --popover: 1 0 0; /* oklch(1 0 0) */
    --popover-foreground: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --primary: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --primary-foreground: 1 0 0; /* oklch(1 0 0) */
    --secondary: 0.92 0.004 286.32; /* oklch(0.92 0.004 286.32) */
    --secondary-foreground: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --muted: 0.967 0.001 286.375; /* oklch(0.967 0.001 286.375) */
    --muted-foreground: 0.442 0.017 285.786; /* oklch(0.442 0.017 285.786) */
    --accent: 0.967 0.001 286.375; /* oklch(0.967 0.001 286.375) */
    --accent-foreground: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --destructive: 56.92% 0.21 25.92; /* oklch(56.92% 0.21 25.92) */
    --destructive-foreground: 1 0 0; /* oklch(1 0 0) */
    --border: 0.92 0.004 286.32; /* oklch(0.92 0.004 286.32) */
    --input: 0.92 0.004 286.32; /* oklch(0.92 0.004 286.32) */
    --ring: 0.623 0.214 259.815; /* oklch(.623 .214 259.815) */

    --chart-1: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --chart-2: 62.91% 0.1 192.36; /* oklch(62.91% 0.1 192.36) */
    --chart-3: 66.89% 0.19 357.26; /* oklch(66.89% 0.19 357.26) */
    --chart-4: 64.06% 0.16 246.5; /* oklch(64.06% 0.16 246.5) */
    --chart-5: 66.62% 0.2 22.13; /* oklch(66.62% 0.2 22.13) */

    --radius: 0.6rem;

    --sidebar-background: 1 0 0; /* oklch(1 0 0) */
    --sidebar-foreground: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    --foreground-subtle: 0.442 0.017 285.786; /* oklch(0.442 0.017 285.786) */
  }

  .dark {
    /* catalyst */
    --background: 0.21 0.006 285.885; /* oklch(0.21 0.006 285.885) */
    --foreground: 1 0 0; /* oklch(1 0 0) */
    --card: 0.24 0.006 286.033; /* oklch(0.24 0.006 286.033) */
    --card-foreground: 1 0 0; /* oklch(1 0 0) */
    --popover: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --popover-foreground: 1 0 0; /* oklch(1 0 0) */
    --primary: 0.92 0.004 286.32; /* oklch(0.92 0.004 286.32) */
    --primary-foreground: 0% 0 0; /* oklch(0% 0 0) */
    --secondary: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --secondary-foreground: 1 0 0; /* oklch(1 0 0) */
    --muted: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --muted-foreground: 0.705 0.015 286.067; /* oklch(0.705 0.015 286.067) */
    --accent: 0.34 0.013 285.805; /* oklch(0.34 0.006 285.885) */
    --accent-foreground: 1 0 0; /* oklch(1 0 0) */
    --destructive: 56.92% 0.21 25.92; /* oklch(56.92% 0.21 25.92) */
    --destructive-foreground: 1 0 0; /* oklch(1 0 0) */
    --border: 0.274 0.006 286.033; /* oklch(0.274 0.006 286.033) */
    --input: 0.37 0.013 285.805; /* oklch(0.37 0.013 285.805) */
    --ring: 0.623 0.214 259.815; /* oklch(.623 .214 259.815) */

    --chart-1: 62.65% 0.24 261.95; /* oklch(62.65% 0.24 261.95) */
    --chart-2: 68.91% 0.1 192.36; /* oklch(68.91% 0.1 192.36) */
    --chart-3: 69.89% 0.19 357.26; /* oklch(69.89% 0.19 357.26) */
    --chart-4: 69.06% 0.16 246.5; /* oklch(69.06% 0.16 246.5) */
    --chart-5: 69.62% 0.2 22.13; /* oklch(69.62% 0.2 22.13) */

    --sidebar-background: 0.141 0.005 285.823; /* oklch(0.141 0.005 285.823) */
    --sidebar-foreground: 0.967 0.001 286.375; /* oklch(0.967 0.001 286.375) */
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: 0.21 0.006 285.885; /* oklch(0.21 0.006 285.885) */
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  /* html {
    background-color: var(--background);
    color: var(--foreground);

    @apply antialiased;
  } */

  * {
    box-sizing: border-box;
    border-color: oklch(var(--border));
  }

  body {
    /* background: var(--background); */
    /* color: var(--foreground); */

    @apply antialiased border-border bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  pre {
    overflow-x: auto;
    background: oklch(var(--popover));
    border-radius: 0.5rem;
    line-height: 1.8;
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
